/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.875em;
  line-height: 20px;
}

.btn {
  border:  3px solid #FEC63E;
  color: #FEC63E;
  text-decoration: none;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 30px;
  text-transform: uppercase;
}

.btn:hover {
  color: #fff;
  border-color: #fff;
}

.btn.btn-preto:hover {
  color: #000000;
  border-color: #000000;
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.subtitle:after{
  background: #000; 
  content: "";
  display: block;
  margin: 8px auto;
  height: 3px;
  width: 60px;
}


/* Estilos do Header*/

.header {
  width: 100vw;
  padding: 15px 0;
  position: fixed;
  top: 0;
  background-color: #FEC63E;
  z-index: 1;
}

.menu-header {
  text-align: right;
}
.menu-header ul li {
  display: inline-block; /* O li ficam lado a lado */
  margin-left: 20px;
  margin-top: 20px;
  
}

.menu-header ul li a {
  color: #000000;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 0; /* aumenta a area de contato do menu*/
}

.menu-header ul li a:hover {
  color: #ffffff;
}

/*====== INTRODUÇÃO ========*/
.introduction {
  background: url(../img/bg.jpg) no-repeat center;
  background-size: cover; /* para a imagem comprir inteira */
  margin-top: 94.5px; /* como o menu esta fixed é nescessario da um espaçamento */
  height: 380px;
  padding-top: 80px;
  text-align: center;
  width: 100%;
}

.introduction h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 30px;
  text-transform: uppercase;
}


.quote-externo {
  color: #ffffff;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p:before, .quote-externo p:after{ /* Estilização da pagina*/
  background: #fff; 
  content: "";
  display: block;
  margin: 10px auto;
  height: 3px;
  width: 60px;
}

.quote-externo-cite {
  font-weight: bold;
  line-height: 20px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

/*======= Produtos ============ */


.produtos {
  padding: 60px 0;
}

.produto_bike .icone_produtos {
  background-color: #000;
  text-align: center;
}

.produto_bike .icone_produtos img {
  padding: 20px;
}

.produto_bike .description_model {
  background-color: #FEC63E;
  text-align: center;

}

.produto_bike .description_model .title_description {
 
  font-size: 1.12em;
  line-height: 25px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 14px;
}

.produto_bike .description_model .title_description:after {
  
  background: #000; 
  content: "";
  display: block;
  margin: 2px auto;
  height: 3px;
  width: 60px;
}

.produto_bike .description_model .p_description {
  
  padding: 10px 20px 20px 20px ;
}

.call-to-action {
  padding-top: 40px ;
  text-align: center;
  clear: both;
 
}

.call-to-action p {
  margin-bottom: 30px;
}